nav{
    background-color: rgba(0, 0, 0, 0.5);
    
}
.navbar .nav-link,
.navbar .nav-link.active,
.navbar .navbar-brand {
    color: #d4af37;
}
.navbar .nav-link:hover {
    color: white;
}

body {
    margin: 0;
    min-height: 100vh;

    background-color: #d4c389;

    background-image: 
        url("../imagenes/fire-keeper.webp"),
        url("../imagenes/hidegod.webp");

    background-repeat: no-repeat, no-repeat;

    background-size: 18% 100%, 18% 100%;

    background-position: left center, right center;
}

body {
    font-family: "Cinzel", serif;
    text-align: center;
}