.list-group-item {
  background-color: transparent !important;
  border: none !important;
}


body {
    margin: 0;
    min-height: 100vh;

    background-image: url("../imagenes/Anor_Londo_29.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.card{
    background-color: rgba(0, 0, 0, 0.5);
    border: none ;
    height: 100%;
}
.card-body {
  display: flex;
  flex-direction: column;
}
.card-title,
.card-text{
    color: #ffff;
}
.card-body .btn {
  margin-top: auto;
}
nav{
    background-color: rgba(0, 0, 0, 0.5);
    
}
.navbar .nav-link,
.navbar .nav-link.active,
.navbar .navbar-brand {
    color: #d4af37;
}
.navbar .nav-link:hover {
    color: white;
}
