.list-group-item {
  background-color: transparent !important;
  border: none !important;
}


body {
    margin: 0;
    min-height: 100vh;

    background-image: url("../imagenes/Anor_Londo_29.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.card{
    background-color: transparent ;
    border: none ;
}
.card-title,
.card-text{
    color: #ffff;
}